*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    
}

.span-center {
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo{
    display: flex;
    gap: 30px;
    align-items: center;
}
.logoimage img{
    width: 120px;
}
.navigation nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
}
.navigation nav ul img{
    width: 40px;
}
.logosearch input{
    width: 600px;
    height: 50px;
    border-radius: 8px;
}
.imagebox img{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 25px;
}
.box {
    display: grid;
    grid-template-columns: 30% 70%; 
}
.imagebox ul{
    border: 1px solid black;
    margin: 50px;
    list-style: none;
    border-radius: 5px;

}
.imagebox ul li{
    border-bottom: 1px solid black;
    padding: 10px;
}
.imagew img{
    border-radius: 5px;
    margin-top: 50px;
    width: 95%;
}
.pheading{
display: flex;
gap: 20px;
padding: 20px;
}
.first-item{
    background-color: #ECECEC;
    width: 400px;
    height: 469px;
    border-radius: 5px;
}
.xd{
    gap: 60px;
    padding: 30PX;
    margin: 15px; ;
}
.xd1
{
    margin: 0px;
    
}
.first-product{
    margin-left: 15px;
    width: 350px;
    height: 469px;
    background-color: #f3f3f3;
}
.first-product img{
    padding: 0px;
    max-width: 350px;
    max-height: 469px;
}
.first-product h4{
    font-size: 30px;

}
.price-b{
    color: #b7b7b7;
    font-size: 20px ;
}
.star{
    width: 100px;
    height: 39px;
    background-color:#FFB600;
    border-radius: 25px;
    display: flex;
    gap: 6px;
    align-items: center;
}
.star img{
    width: 28px;
    height: 28px;
    margin: 5px;
    margin-left: 10px;
}
.star h6{
    font-size: larger;
    color: white;
    width: 28px;
    height:30 ;
    margin: 3px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 10PX;
}

.strikethrough {
    position: relative;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: red;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }

  .details-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
  }

  .divider {
    border-left: thick solid #c3c1c1;
    border-width: 1px;
    margin-left: 10px;
    height: 100%;
  }
  

  .details-footer{
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links a
  {
    display: flex;
    font-weight: bold;
    color: white;
    font-style: unset
    
  }
  .copyright
  {
    margin: 10px;
    color: white;
  }
 
 
  .myfooter {
    background: rgb(48, 47, 81);
    margin-top:40px;
    padding: 20px;
    text-align: center;
  }
  
  .myfooter h1 {
    color: #fff;
    font-weight: bold;
    font-size: 24px; 
  }
  
  .myfooter .link a {
    color: #fff;
    margin: 0 10px; 
  }
  .myfooter  h6{
    color: #fff;
    margin: 10px;
  }
  .full
  {
    display: flex;
    margin-right: 0px;
    
  }
 
  .search-results {
    margin: 0 auto;
    width: 500px;
  }
  
  .search-results h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sorted-nav{
    display: flex;
    display: inline-flex;
  }
  .product-pic {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }
  .section-1 div img {
    width: 80%;
    margin: 10px;
  }
  .section-2{
    margin-right: 150px;
    margin-right: 100px ;
    padding-top: 10px;
  }
  .colorbotom {
    display: flex;
    gap: 20px;
  }
  .colorgreen{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
  background-color: green;
  }
  .colorblue{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    background-color: blue;
  }
  .colorblack{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    background-color: black;
  }
  .colorred{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    background-color: red;
  }
  .boxx {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgba(152, 140, 140, 0.766);

  }
  .boxes {
    display: flex;
    gap: 30px;
    width: 150px;
    
  }
  .bg-rev img{
    width: 20px;
  }
  .section-3{
    border: 1px solid black;
  }
  .bg-rev {
    /* border: 1px solid black; */
    border-radius: 8px;
    width: 50px;
    background-color: #FFB600;
    color: whitesmoke;
  }
  .product-rev {
    display: flex;
    align-items: center;
    gap: 5px;
    
  }
.search-box {
  border: solid 1px #e4e4e4;
  outline: none;
  border-radius: 0px;
  padding-left: 20px;
}

.dislpay-hn{
  display: flex;
  justify-content: space-between;
}
.klbp{
  display: flex;
  align-items: center;
  border: 1px solid grey ;
  border-radius: 10px;
  width: 80px;
  
}
.klbp img{
  width: 18px;

}
.sizes{
  display: flex;
  gap: 10px;

}
.sizes :nth-child(1){
  border: 1px solid rgb(137, 137, 137);
  width: 60px;
  text-align: center;

}
.sizes :nth-child(2){
  border: 1px solid rgb(185, 148, 0);
  width: 60px;
  text-align: center;
}
.sizes :nth-child(3){
  border: 1px solid rgb(137, 137, 137);
  width: 60px;
  text-align: center;
}
.sizes :nth-child(4){
  border: 1px solid rgb(137, 137, 137);
  width: 60px;
  text-align: center;
}
.ship {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.shipext{
  margin:10px 75px ;
}
.miami{
  padding-left: 70px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  
}
.miami :nth-child(1){
  border: 3px solid black;
  border-radius: 100%;
  padding: 8px  ;
  
}
.miami :nth-child(3){
  border: 3px solid black;
  border-radius: 100%;
  padding: 8px  ;
  background-color: orange;
}
.miami :nth-child(2){
  margin-top: 6px;
}
.add-to-cart {
  background-color: #008000;
  color: white;
  border: none;
  padding: 10px 100px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 70px;

}
.easymore{
  background-color: #ffffff;
  color: green;
  border: 2px solid green;
  padding: 10px 100px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 75px;
  
}
.messi-1 :nth-child(1){
  width: 20px;
}
.messi-1 :nth-child(2){
  text-align: center;
}
.messi-2 :nth-child(1) {
  width: 20px;
  
}
.messi-2 :nth-child(2){
  text-align: center;
  padding-top: 5px;
}
.messi{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.harry{
  padding-left: 10px;
}
.jmw{
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.pic_section_3{
  /* width:100% ; */
}
.pic_section_3 img{
}

.contact-back :nth-child(2){
  font-size: 50px;
  position: relative;
  bottom: 200px;
  left: 550px;
  width: 60%;
}

.moro{
display: grid;
grid-template-columns: 50% 50%;
}
.morox1 img{
 position: relative;
 left: 150px;
}
.ouradress{
  border: 2px solid black;
  position: relative;
  left: 130px;
  text-align: center;
  width: 50%;
  background-color: black;
  padding: 10px;
}
.ouradress :nth-child(1){
  color: white;
}
.ouradress :nth-child(2){
  width: 25px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.input1{
  background-color: #b7b7b7;
  width: 354px;
  height: 45px;
  border: 2px solid black;
}
.input2{
  background-color:#b7b7b7 ;
  width: 354px;
  height: 45px;
  border:2px solid black ;
}
.input3{
  background-color:#b7b7b7 ;
  width: 354px;
  height: 95px;
  border:2px solid black ;

}
.tnt1{
  margin: 10px;
  margin-right: ;: 100px;
}
